export(
	AICc, beta.weights, dredge, get.models, model.avg, par.avg, QAIC
)

exportPattern("^getAllTerms")
exportPattern("^coeffs")
exportPattern("^tTable")

#export(getAllTerms, coeffs, tTable)

importsFrom(stats, AIC, as.formula, coef, delete.response, deviance, fitted,
formula, logLik, model.frame, model.matrix, na.omit, predict, qnorm, qt,
reformulate, residuals, sd, terms, update, weighted.mean)

S3method(print, averaging)
S3method(summary, averaging)
S3method(predict, averaging)
S3Method(coef, averaging)
S3Method(fitted, averaging)
S3Method(model.matrix, averaging)

S3method(print, model.selection)

S3Method(tTable, default)
S3Method(tTable, gam)
S3Method(tTable, glmer)
S3Method(tTable, gls)
S3Method(tTable, lme)
S3Method(tTable, lmer)
S3Method(tTable, mer)
S3Method(tTable, spautolm)

S3Method(coeffs, default)
S3Method(coeffs, glmer)
S3Method(coeffs, gls)
S3Method(coeffs, lme)
S3Method(coeffs, lmer)
S3Method(coeffs, mer)
S3Method(coeffs, spautolm)

S3Method(getAllTerms, default)
S3Method(getAllTerms, formula)
S3Method(getAllTerms, glmer)
S3Method(getAllTerms, lme)
S3Method(getAllTerms, lmer)
S3Method(getAllTerms, mer)
